SERVER_PORT=3000
LOG_LEVEL=debug
MONGO_URL=mongodb://localhost:27017/authentication
JWT_SECRET=+b59WQF+kUDr0TGxevzpRV3ixMvyIQuD1O
PASSWORD_SALT=DP3whK1fL7kKvhWm6pZomM/y8tZ92mkEBtj29A4M+b8
RABBIT_URL=amqp://localhost
SIGNUP_TEMPLATE_ID=68a503258bcf37c230cd71bc
DISABLE_USER_TEMPLATE_ID=68d4567b22aea0028709c4dc
CHANGE_PASSWORD_TEMPLATE_ID=68a5dfaafe1eb1ed05b0ac62
